@import "tailwindcss";

body {
  overflow-x: hidden;
  background-color: #F4F4F4;
}

.ul-arrow:before {
  background: linear-gradient(to left, #eb0029 0%, rgba(217, 217, 217, 0) 100%);
  right: calc(100% + 20px);
  content: '';
  height: 2px;
  width: 100px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
}

.ul-arrow:after {
  background: linear-gradient(to right, #eb0029 0%, rgba(217, 217, 217, 0) 100%);
  left: calc(100% + 20px);
  content: '';
  height: 2px;
  width: 100px;
  position: absolute;
  top: 50%;
  margin-top: -1px;
}

.number-dots:before {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url("https://res.cloudinary.com/dj7wogsju/image/upload/v1742220009/download_bsfbsy.svg");
  position: absolute;
  top: -6px;
  left: -6px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.glide__bullet--active span {
  background-color: #eb0029;
}

.dropbtn:hover+.dropdown-content {
  display: block;
}

.relative:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover svg path {
  fill: red;
}

.bestsizzler-about-us {
  background-image: url(https://res.cloudinary.com/dj7wogsju/image/upload/v1741883446/Component_8_mp8ydl.png);

}
@media screen and (max-width: 768px) {
  .bestsizzler-about-us {
    background-size: 62% 100%;
  }
}
.page-arrows:hover {
  border: 1px solid red;
}
.page-arrows:hover svg {
  color: #fff;
}
.steps__connector {
  margin-inline-start: 0;
  width: 100%;
  transform: translateY(-50%);
  background-color: #eee;
  position: relative;
}
.steps__connector::before {
  background-color: #eb0029;
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transform-origin: 50% 0;
  position: absolute;
  top: -15px;
}
 
.steps__connector.active__connector{
  background-color: #eb0029 !important;
}